<body>
  <div id="home-menu">
    <h1 class="text-animation">
      Benvenuto sul miglior gioco del momento
    </h1>
    <div *ngIf="isLogin(); else login">
      <div id="home-welcome-user">
        Ciao {{this.getEMail()}}
      </div>
      <div *ngIf="isAdmin(); else play">
        <button class="home-button" (click)="endscreen()">
          CONSULTA LA CLASSIFICA
        </button>
      </div>
      <ng-template #play>
        <button class="home-button" (click)="game()">
          GIOCA
        </button>
      </ng-template>
    </div>
    <ng-template #login>
      <div>
        <button class="home-button" (click)="goToLogin()">
          ACCEDI
        </button>
        <button class="home-button" (click)="register()">
          REGISTRATI
        </button>
      </div>
    </ng-template>
  </div>
  <div class="footer">
    {{this.footer_credits}}
  </div>
</body>
